<!-- Created by Evilasio Junior #301122341 - 18/06/2021 -->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="contactNameTextField">Contact Name</label>
                    <input type="text" class="form-control"
                    id="contactNameTextField"
                    placeholder="Enter the Contact Name"
                    name="name" 
                    value="<%= contact.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="contactNumberField">Contact Number</label>
                    <input type="number" class="form-control"
                    id="contactNumberField"
                    placeholder="Enter the Contact Number"
                    name="number" 
                    value="<%= contact.number %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="emailField">Email</label>
                    <input type="email" class="form-control"
                    id="emailField"
                    placeholder="Enter the email address"
                    name="email" 
                    value="<%= contact.email %>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                <a href="/business-contact-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>